nav ul {
  background-color: blue;
  text-align: center;
  overflow: hidden;
}

nav li {
  display: block;
  margin: 0 20px;
  
}

nav a {
  text-decoration: none;
  color: #fff;
}

aside {
  display: block;
  position: fixed;
  right:0%;
  padding: 15px 0;
  right:0%;

}