#main-navbar {
  overflow: hidden;
  background-color: blue;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  
}

#main-navbar ul li {
  float: left; 
  right: 50%;
  position: relative;
  display: block;
}

#main-navbar ul li a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a: hover {
  color: #000;
}

#navbar-container {
  width: 100%;
  position: relative;
  float: left;
}

#onpage {
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  right:0%;

}

#sidebar-container {
  
}
